.input-size input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #b5316a;
  border-radius: 0;
}
.youtube {
  padding-top: 10px;
}

.icon_yt {
  width: 1em !important;
  color: #b5316a;
  font-size: 20px;
}
