.side_drawer {
  background-color: #b5316a;
  /* height: 100%; */
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  /* background-color: #111; */
  overflow-x: hidden;
  padding-top: 20px;
}
/* ul li {
  list-style: none;
  color: white;
  line-height: 3rem;
} */

.icons-size {
  width: 1em;
  color: white;
}
.icon-text {
  padding-left: 20px;
}
