.video_icon {
  color: #b5316a;
  font-size: 20px;
  width: 1em;
}
.upload {
  border-bottom: 1px solid #b5316a;
  border-radius: 0px;
  background-color: transparent;
  /* border-style: none; */
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}
